// variables
@color:pink;
@bgColor:skyblue;
@width:100%;
@link-color:#428bca;
@link-hover-color:darken(@link-color,10%);
.wrap{
    color:@color;
    background-color:@link-color;
    width:@width;
    height:@width;
}

.border{
    border-top: 1px solid rgb(168, 6, 6);
    border-bottom: 1px solid rgb(139, 176, 190);
}
#menu a{
    color:yellowgreen;
    &:hover{
        color:@link-hover-color;
    }

}
// selectors
@my-selector:banner;
.@{my-selector}{
    color: yellow;
}